.shopProducts {
  display: grid;
  gap: 100px 40px;
  grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
  padding: 50px;
  max-width: 1500px;
  margin: 0px auto;
}

.product {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 1rem;
  text-align: center;
  padding: 1rem;
  font-size: 1.1rem;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  cursor: pointer;
}

.imgContainer img {
  max-height: 100%;
  max-width: 100%;
}

.product .priceRow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 1.2rem;
  font-weight: 700;
}

.product button {
  border: var(--border);
  color: var(--text);
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 700;
}

.product button:hover {
  background-color: var(--bg3);
}

.quantityButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
