.productDetailContainer {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.detailContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.productDetailContainer .imgContainer {
  max-width: 400px;
  width: 100%;
  height: auto;
  margin: 0px auto;
}
.productDetailContainer .title {
  font-size: 2rem;
}

.productDetailContainer button {
  border: var(--border);
  color: var(--text);
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0px auto;
}

.productDetailContainer button:hover {
  background-color: var(--bg3);
}
